{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block body %}

    {%if user%}
        <h3>Welcome, {{ user.name }}</h3>
    {%endif%}
    
    <h1>Top 10 Books:</h1>

    <ul>
        {% for book in books %}
            <li>
                <a href="{{ url_for('book', book_id=book.book_id) }}">
                    {{ book.isbn }}  {{ book.title }}  {{ book.author }} {{ book.year }}
                </a>
            </li>
        {% endfor %}
    </ul>
    
        <a class="button" href="{{ url_for('login') }}">Login</a>
        <a class="button" href="{{ url_for('register') }}">Register</a>
    

{% endblock %}
